@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @font-face {
    font-family: 'helvetica';
    src: url(/fonts/helvetica-neue.ttf) format('truetype');
  }

  html {
    overflow-y:scroll;
  }

  h2{
    font-weight: bold;
    font-size: 1.5rem;
  }

  span{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  code{
    font-size: 1.25rem !important;
    font-family: verdana !important;
    letter-spacing: .15rem;
    width: 100% !important;
  }

}